defaults: &defaults
  # http://code.openark.org/blog/development/forking-golang-repositories-on-github-and-managing-the-import-path
  working_directory: /go/src/github.com/bitly/oauth2_proxy
  docker:
    - image: golang:1.10
version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-deps-{{ checksum "Gopkg.lock" }}
            - go-deps-{{ .Branch }}
            - go-deps
      - run:
          name: Vendor Dependencies
          command: |
            curl -sLo /usr/local/bin/dep https://github.com/golang/dep/releases/download/v0.3.2/dep-linux-amd64
            chmod +x /usr/local/bin/dep
            /usr/local/bin/dep ensure
      - save_cache:
          key: go-deps-{{ checksum "Gopkg.lock" }}
          paths:
            - "/go/src/github.com/bitly/oauth2_proxy/vendor"
      - save_cache:
          key: go-deps-{{ .Branch }}
          paths:
            - "/go/src/github.com/bitly/oauth2_proxy/vendor"
      - save_cache:
          key: go-deps
          paths:
            - "/go/src/github.com/bitly/oauth2_proxy/vendor"
      - run:
          name: Test
          command: |
            ./test.sh
      - deploy:
          name: Deploy package to s3
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              apt-get update
              apt-get install -y ruby-full python-pip
              gem install fpm
              pip install awscli
              cd /go/src/github.com/bitly/oauth2_proxy
              make package
              make release
            fi
